.i {
  display: flex;
  height: 100vh;
  position: inherit;
}
.i-left {
  flex: 1;
  display: flex;
  align-items: center;
}
.i-right {
  flex: 1;
}
.i-left-wrap {
  padding: 50px;
  height: 25%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.i-intro {
  font-size: 30px;
  font-weight: 300;
}
.i-name {
  font-size: 60px;
}
.i-title {
  height: 50px;
  overflow: hidden;
  font-weight: normal;
}

.i-title-wrp {
  height: 100%;
  animation: move 8s ease-in-out infinite alternate;
}
@keyframes move {
  25% {
    transform: translateY(-50px);
  }
  50% {
    transform: translateY(-100px);
  }
  75% {
    transform: translateY(-150px);
  }
  100% {
    transform: translateY(-150px);
  }
}
.i-title-item {
  height: 50px;
  font-size: 30px;
  font-weight: bold;
  color: #04d29f;
  display: flex;
  align-items: center;
}
.i-desc p {
  width: 80%;
}
.i-img {
  width: 100%;
  object-fit: none;
  height: 100%;
}

@media screen and (max-width: 480px) {
  .i {
    flex-direction: column;
  }
  
  .i-img {
  width: 50%;
  object-fit: none;
  height: 100%;
}
}
